<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://source.unsplash.com/ojZ4wJNUM5w);">
  <div >
    <%= link_to "Start now", "#", class: "btn btn-gradient" %>
  </div>
</div>

<div class="container text-center mt-3 pt-3">
  <h1>Prendas con historias</h1>
  <h4>Ropa nueva y de segunda mano seleccionada con amor.</h4>
</div>



<div class="container text-center mt-3 pt-3">
  <h4>Sobre nosotros</h4>
  <p>Somos una marca que creemos en las segundas oportunidades.</p>
  <p> Tomamos conciencia de nuestro consumo y aportamos con un granito de arena al planeta.</p>
  <p>Ofrecemos prendas elegidas y seleccionadas con amor para que puedas usarlas en tu dia día. </p>
</div>
